@import "../../../../assets/scss/main.scss";
$margin: 20px;

nav {
    overflow: hidden;
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background-color: $white;
    padding-top: 10px;
    padding-bottom:10px;
    color: $grey;
    flex-wrap:wrap;
    justify-content: space-around;
    

    // Logo styles
    .logo {
        flex: 1;
    }

    // Navigation links styles using Grid
    .nav-links {
        display: grid;
        grid-template-columns: repeat(5, auto);
        gap: 20px;
        text-align: center;
        padding: 10px;
        list-style-type: none;
        font-family: "Montserrat Medium";
        
        a {
            text-decoration: none;
            color: $grey;
            padding: 0px 10px;
            position:relative;
            // Hover effect for links
            &:hover {
                color: $orange;
            }
            &:after {
                content:"";
                position: absolute;
                background-color: $orange;
                height: 1.5px;
                width: 0%;
                left: 0;
                bottom: -6px;
                transition: .3s;
            }
            &:hover:after {
                width: 100%;
            }
        }
    }
}

.content {
  text-align: right;
}
.navlogo{
    width: 1px;
}