@import ".../../../../../assets/scss/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.flex-box{
  background-color: $black;
  color:white;
  overflow: hidden;
  display: flex;
  position: sticky;
  z-index: -1;
    /* Contents */
  .scrolling-content {
    flex: 1;
  }
}

.info{
  height: 100vh;
  padding-top:150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;

  img{
    width: 100vh;
    margin-left: -300px;
    padding-right: 20px;
  }

  .introduction{
    display: grid;
    grid-template-row: repeat(3, auto);

    h1 {
      font-family: "Montserrat Black";
      font-size: 10em;
      padding-left:20px;
      color: $orange;
    }
    h2 {
      font-family: "Montserrat Black";
      font-size: 4em;
      padding-left:25px;
    }
    h3 {
      font-family: "Montserrat Black";
      font-size: 2em;
      padding-left:25px;
    }

    .black{
      color: white;
      -webkit-text-fill-color: $black; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
    }

    .orange{
      color: white;
      -webkit-text-fill-color: $orange; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: $white;
    }
  }
}




.lineUp {
  animation: 2s anim-lineUp ease-out ;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* The CIAO annimation */
.ciao-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ciao-frames {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: left;
  justify-items: left;
  justify-content: flex-start;
  width: 100%;
  max-width: 800px;
  height: 400px;
  overflow: hidden;
}
.frame {
  width: 400px;
  height: 200px;
  margin: 2px;
  display: block;
  //border: 1px solid white;
  background: transparent url("../../../assets/img/ciao-design-white.png") 0 0 no-repeat;
}
#one {
  -webkit-animation: letterC 1s steps(12) infinite;
          animation: letterC 1s steps(12) infinite;
}
#two {
  -webkit-animation: letterI 1s steps(12) infinite;
          animation: letterI 1s steps(12) infinite;
}
#three {
  -webkit-animation: letterA 1s steps(12) infinite;
          animation: letterA 1s steps(12) infinite;
}
#four {
  -webkit-animation: letterO 1s steps(12) infinite;
          animation: letterO 1s steps(12) infinite;
}
@-webkit-keyframes letterC {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2400px;
  }
}
@keyframes letterC {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2400px;
  }
}
@-webkit-keyframes letterI {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: -400px -2400px;
  }
}
@keyframes letterI {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: -400px -2400px;
  }
}
@-webkit-keyframes letterA {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: -800px -2400px;
  }
}
@keyframes letterA {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: -800px -2400px;
  }
}
@-webkit-keyframes letterO {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: -1200px -2400px;
  }
}
@keyframes letterO {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: -1200px -2400px;
  }
}

/*Sticky Image*/
