$primary: #f57a00 !default;
$secondary: #232c33 !default;
$success: #05a435 !default;
$danger: #d0021b !default;
$light: #f3f3f3 !default;

$info: #17a2b8 !default;
$warning: #ffc107 !default;
$dark: #1b2126 !default;

// Dark Theme Config
//
// Change the value to true when changing the app to dark theme

$isDarkTheme: false;

// Dark Theme Colors Config

$light-background: #fff;
$dark-background: #121212;
$dark-surface: #383838;
$dark-secondary: #7F7F7F;