<app-introduction-section></app-introduction-section>
<app-navigation-bar></app-navigation-bar>

<div class='orange'>
    <div class="container">
        <app-section-one></app-section-one>
    </div>
</div>
<div class="ticker-container">
    <div class="scroll">
        <div>
            <span>~ more about me ~ more about me ~ more about me
            ~ more about me ~ more about me ~ more about me
            ~ more about me ~ more about me ~ more about me</span>
        </div>
        <div>
            <span>~ more about me ~ more about me ~ more about me
            ~ more about me ~ more about me ~ more about me
            ~ more about me ~ more about me ~ more about me</span>
        </div>
    </div>
</div>

<div class="container">
    <app-section-two></app-section-two>
</div>

<div class="ticker-container tilt-left">
    <div class="banner-left">
        <span>
            EXPERIENCES EXPERIENCES EXPERIENCES EXPERIENCES EXPERIENCES
        </span>
    </div>
</div>

<div class="ticker-container tilt-right">
    <div class="banner-right">
        <span>
            WORK WORK WORK WORK WORK WORK WORK WORK WORK WORK WORK
        </span>
    </div>
</div>

<app-footer></app-footer>
