<div class='orange'>
    <div class="container">
        <app-section-one></app-section-one>
    </div>
</div>
<div class="ticker-container">
    <div class="scroll">
        <div>
            <span>~ MORE ABOUR ME ~ MORE ABOUR ME ~ MORE ABOUR ME
            ~ MORE ABOUR ME ~ MORE ABOUR ME ~ MORE ABOUR ME
            ~ MORE ABOUR ME ~ MORE ABOUR ME ~ MORE ABOUR ME</span>
        </div>
        <div>
            <span>~ MORE ABOUR ME ~ MORE ABOUR ME ~ MORE ABOUR ME
            ~ MORE ABOUR ME ~ MORE ABOUR ME ~ MORE ABOUR ME
            ~ MORE ABOUR ME ~ MORE ABOUR ME ~ MORE ABOUR ME</span>
        </div>
    </div>
</div>
<div class="container">
    <app-section-two></app-section-two>
</div>

