
//Nav Bar


/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

/* Nav Bar Font*/
@font-face {
    font-family: 'Montserrat Bold';
    src: url('../../ttf/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url('../../ttf/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat Black';
    src: url('../../ttf/Montserrat-Black.ttf');
}
/* Footer */
@font-face {
    font-family: 'Montserrat Regular';
    src: url('../../ttf/Montserrat-Regular.ttf');
}