<section>
    <div class="side-text">
        <ul>
            <li>GRAPHIC DESIGN,</li>
            <li>WEB DEVELOPMENT,</li>
            <li>BRAND IDENTITY.</li>
        </ul>
        <div class="flex-box">
            <p>Have provided service for over 4 years of experience and experties in logos and visual identities, and a surface level experience in web development.</p>
        </div>
    </div>

    <div class="side-img">
        <div class="flex-box">
            <div class="square-img01"></div>
            <div class="square-img02"></div>
        </div>
        <div class="square-img03"></div>
    </div>
</section>