<footer>
    <div class="footer-info">
        
        <!-- Design -->
        <div class="copyrights connected">
            Designed by Laurence Lebarios
        </div>

        <div class="footer-links">
            <!-- About Us -->
            <div class="about-us">
                <h4 class="footer-heading">Company</h4>
                <ul class="footer-item">
                    <li><a href=#>Home</a></li>
                    <li><a href=#>About Us</a></li>
                    <li><a href=#>Portfolio</a></li>
                    <li><a href=#>Message</a></li>
                    <li><a href=#>Contact</a></li>
                </ul>
            </div>

            <!-- Services -->
            <div class="services">
                <h4 class="footer-heading">Services</h4>
                <ul class="footer-item">
                    <li><a href=#>Logo</a></li>
                    <li><a href=#>Brand Identity</a></li>
                    <li><a href=#>UX/UI Design</a></li>
                    <li><a href=#>Graphic Arts</a></li>
                </ul>
            </div>

            <!-- Get Connected -->
            <div class="connected">
                <h4 class="footer-heading">Get Connected</h4>
                <ul class="footer-item">
                    <li>(+63) number</li>
                    <li>Makati, Philippines</li>
                    <li>email@gmail.com</li>
                </ul>
                <div class="social-links">
                    <span class="links"><a href="#"><img src="../../../../assets/img/svg/facebook-icon.svg" width="25px"/></a></span>
                    <span class="links"><a href="#"><img src="../../../../assets/img/svg/instagram-icon.svg" width="25px"/></a></span>
                    <span class="links"><a href="#"><img src="../../../../assets/img/svg/linkedin-icon.svg" width="25px"/></a></span>
                </div>
            </div>
        </div>
    </div>

</footer>
<div class="ticker-container">
    <div class="scroll">
      <div>
        <span> You have reached </span> the end - <span> You have reached </span> the end - <span> You have reached </span> the end - <span> You have reached </span> the end -
      </div>
      <div>
        <span> You have reached </span> the end - <span> You have reached </span> the end - <span> You have reached </span> the end - <span> You have reached </span> the end -
      </div>
    </div>
</div>